<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${@branding.restaurantName} + ' | Menu'">Restaurant | Menu</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1 th:text="|${@branding.menuTitle}|">The Menu</h1>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-hover">
          <thead>
            <tr>
              <td>Item</td><td>Price</td><td>Action</td>
            </tr>
          </thead>
          <tbody>
            <tr th:each="item : ${menu}">
              <td th:text="${item.name}">Something</td><td th:text="${item.price}">$1.00</td><td><a th:href="|${item.id}/|" href="#">Edit</a></td>
            </tr>
          </tbody>
        </table>
        <a href="new/">Add a new Item</a><br/>
        <a href="/">Back to home</a>
      </div>
    </div>
  </div>
</body>
</html>
